* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100hv;
  background: #f4faff;
  overflow: hidden;
}

.earth {
  position: relative;
  width: 400px;
  height: 400px;
  background: #0588e4 url(./assets/2.jpg);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(15, 168, 173, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  animation: animate 12s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 612 0;
  }
}
