.mmain {
  height: 100vh;
  background-color: #edf2f7;
  display: flex;
  justify-content: center;
  padding-top: 12rem;
}

.ab {
  position: relative;
}

.cd {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border: 0.4rem solid #cbd5e0;
  border-radius: 50%;
  cursor: pointer;
}

.ef {
  position: absolute;
  background-color: #fff;
  padding: 1rem;
  width: 52rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
  top: 6rem;
  left: -14rem;
}

.ef ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.abc li {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.abcli:hover {
  background-color: #ebf8ff;
}
